.chat-bubble {
    background-color: rgb(100, 100, 100);
    height: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    min-width: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.04);
}

.msg-sender {
    font-size: small;
    font-weight: bold;
    margin-bottom: 3px;
}

.msg-time {
    font-size: x-small;
    align-self: self-end;
    transform: translateY(3px)
}

.right {
    border-radius: 15px 0px 15px 15px;
    align-self: self-end;
}



.left {
    border-radius: 0px 15px 15px 15px;
    align-self: self-start;
}