.chat-bubble {
    background-color: rgb(100, 100, 100);
    height: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    min-width: 100px;
}

.right {
    border-radius: 20px 0px 20px 20px;
    align-self: self-end;
}

.left {
    border-radius: 0px 20px 20px 20px;
    align-self: self-start;
}