.login-form {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.login-form form {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-form form .header {
    font-size: 25px !important;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}

.login-form form input {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 2px black solid;
    width: 250px;
    height: 45px;
}

.login-form form input[type=submit] {
    color: white;
    background-color: black;
    font-weight: bold;
}

.login-form form input[type=submit]:hover {
    color: black;
    background-color: white;
}