.container {
    display: flex;
    flex-direction: row;
}


.navbar {
    height: 56px;
    background-color: #212529;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-brand {
    color: white;
    font-size: x-large;
    margin-left: 10px;
    font-weight: bold;
}

.navbar-button {
    margin-right: 10px;
    font-weight: bold;
    border-radius: 50px;
    padding: 10px;
    border: none;
}

.navbar-button:hover {
    background-color: #212529;
    color: white;
    margin-right: 10px;
    font-weight: bold;
    border-radius: 50px;
    padding: 10px;
    border: none;
}