.container {
    display: flex;
    flex-direction: row;
}


.navbar {
    height: 50px;
    background-color: #212529;
    display: flex;
    align-items: center;
}

.navbar-brand {
    color: white;
    font-size: x-large;
    margin-left: 10px;
}